{% extends 'main.html' %}

{% block content %}

{% for poster in posters %}
<div>
    <img src="{{poster.poster_image.url}}" alt="Movie Poster" width="250px" height="250px">
    <span>Author: {{poster.author}}</span>
    <span>{{poster.created_at| timesince}} ago </span>
    <a href="{% url 'update-poster' poster.id %}">Edit Poster</a>
    <a href="{% url 'delete-poster' poster.id %}">Delete Poster</a>
    <p>{{poster.title}}</p>
    <p>{{poster.genre}}</p>
    <p>{{poster.film_industry}}</p>
</div>
{% endfor %}

{% endblock content %}