{% extends 'main.html' %}
{% load static %}

{% block content %}
<section class="container mt-5 mb-5">
  <h1 class="text-center">Movie Posters</h1>
  <br>

  <div class="tubers grid">
    {% if not posters %}
    <div>
      <h2>No Posters found</h2>
      <span>You are not a member for any movie poster <a href="{% url 'create-poster' %}">Create my First Poster</a></span>
    </div>
    {% endif %}
    <!-- person 1 -->
    {% for poster in posters %}

    <div class="card border-0 text-center" style="width:300px;">
      <div>
        <img src="{{poster.poster_image.url}}" class="card-img-top" style="width:300px;" alt="team-member">

      </div>
      <div class="card-body">
        <h2 class="card-title">{{poster.title}}</h2>
        <span class="card-text" style="background-color:#171412;padding:5px;color:#fff;font-size:16px;">{{poster.genre}}</span>
        <span class="card-text" style="background-color:#171412;padding:5px;color:#fff;font-size:16px;">{{poster.film_industry}}</span>
        <br>
        <a href="{% url 'user-profile' poster.author.id %}"><span class="card-text" style="font-size:14px;">@{{poster.author}}</span></a>
        <span class="card-text" style="font-size:14px;"> created {{poster.created_at | timesince}} ago</span>
        <div class="person-description mt-2">
          <a href="{% url 'update-poster' poster.id %}" ><button class="btn btn-accent" style="color:white;background-color:#002147;"> Edit </button></a>
          <a href="{% url 'delete-poster' poster.id %}" ><button class="btn btn-accent" style="color:white;background-color:#ff4040;"> Delete </button></a>
        </div>
      </div>
    </div>

    {% endfor %}

{% endblock content %}